<!DOCTYPE html>
<html lang="en" ng-strict-di>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <meta name="description" content="{{{metaTags.descriptionText}}}" />
  <meta name="keywords" content="{{{metaTags.keywords}}}" />
  <meta name="fragment" content="!">
  <title>{{{metaTags.title}}}</title>
  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{{projectConfig.facebookId}}}">
  <meta property="og:site_name" content="{{{project}}}">
  <meta property="og:title" content="{{{metaTags.title}}}">
  <meta property="og:description" content="{{{metaTags.descriptionText}}}">
  <meta property="og:keywords" content="{{{metaTags.keywords}}}">
  <meta property="og:url" content="{{{metaTags.url}}}">
  <meta property="og:image" content="{{{metaTags.img}}}">
  <meta property="og:type" content="website">
  <meta name="google-site-verification" content="-erkwdawo-__VFUwm5YVA1Dn2fN8JKMVV1WxHx4uyz8" />

  <!-- Twitter META -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{{project}}}">
  <meta name="twitter:title" content="{{{metaTags.title}}} | {{{project}}}">
  <meta name="twitter:description" content="{{{metaTags.descriptionText}}}">
  <meta name="twitter:image" content="{{{metaTags.img}}}">


</head>
<body>

</body>
</html>
